<h1 style="text-align:left;"><%= @movie.title%></h1>
Genre: <em><%= @movie.genre %></em>
<hr>

<% if @movie.year_released.present? %>

   Year Released:<%= @movie.year_released %>
   <br>
 
<% end %>

<% if @movie.info_url.present? %>

   Additional Info:<%= @movie.info_url %>
<% end %>
   <br>
   More Info:<%= link_to "Click Here", @movie.info_url %>
   <br>
<%= link_to "Back to listings", movies_path %>