<h1>Contacts</h1>
<div class="container">
   <div class="col-md-6 col-md-offset-3">
<%= form_tag(contacts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Contacts by NAME, NUMBER or EMAIL ADDRESS" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
  </div>
</div>

<%= link_to "Create a New Contact", "/contacts/new", class: "btn btn-sm btn-primary" %>
<% @contacts.each do |contact| %>
  <hr>
    <%= link_to "Details", "contacts/#{contact.id}", class: "btn btn-sm btn-success pull-right" %>
    <%= link_to "Edit", "contacts/#{contact.id}/edit", class: "btn btn-sm btn-info pull-right" %>
    <strong><%= contact.last_name %>, <%= contact.first_name %></strong>
    <br>
    <em><%=contact.email %></em>
    <br>
    <em><%=contact.phone_number %></em>
<% end %>
